.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__bmS5 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
  background: none;
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 280px) {
  .freeBox__bmS5 {
    background: url("/plasmic/imbewu_mobile_first/images/lightgreenCutsvg.svg") 0% 0% / contain repeat-x;
    height: 100%;
    min-height: 0;
  }
}
.navPageTitle:global(.__wab_instance) {
  position: relative;
}
.pageTitle {
  height: auto;
  color: var(--token-oWf5ggoEo);
}
.outer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 32px 0px 16px;
}
@media (min-width: 280px) {
  .outer {
    height: 100%;
    min-height: 0;
  }
}
.freeBox__ntN9G {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  height: auto;
  padding: 8px;
}
@media (min-width: 280px) {
  .freeBox__ntN9G {
    height: auto;
  }
}
.freeBox__x3YZq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: var(--token-oWf5ggoEo);
  height: 100%;
  box-shadow: 0px 0px 4px 2px #00000014;
  min-height: 0;
  border-radius: 4px;
  padding: 8px;
}
.text__pqLs {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: var(--token-vYO6h4FW3);
  position: relative;
  width: 100%;
  height: auto;
  align-self: flex-start;
  background: var(--token-h1nwR9emp);
  min-width: 0;
  border-radius: 4px;
  padding: 8px;
}
.freeBox__w0Plx {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
  padding: 16px;
  border-bottom: 1px solid var(--token-gmc_Ctzg2);
}
.freeBox__w0Plx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__w0Plx > :global(.__wab_flex-container) > *,
.freeBox__w0Plx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w0Plx > :global(.__wab_flex-container) > picture > img,
.freeBox__w0Plx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__tjZHb {
  position: relative;
  width: 100%;
  height: 20px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  min-width: 0;
}
.iconRound__eo1PR:global(.__wab_instance) {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.svg__urzOy {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: var(--token-oWf5ggoEo);
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
}
.freeBox__bqHsA {
  display: flex;
  position: relative;
  flex-direction: row;
  background: var(--token-vYO6h4FW3);
  width: 100%;
  min-width: 0;
  padding: 16px;
  border-bottom: 1px solid var(--token-gmc_Ctzg2);
}
.freeBox__bqHsA > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__bqHsA > :global(.__wab_flex-container) > *,
.freeBox__bqHsA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bqHsA > :global(.__wab_flex-container) > picture > img,
.freeBox__bqHsA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__rPyBy {
  position: relative;
  width: 100%;
  height: 20px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: var(--token-oWf5ggoEo);
  min-width: 0;
}
.iconRound__c7VkV:global(.__wab_instance) {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.svg__hXRvt {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: var(--token-vYO6h4FW3);
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
}
.freeBox__azpcY {
  display: flex;
  position: relative;
  flex-direction: row;
  background: var(--token-h1nwR9emp);
  padding: 16px;
  border-bottom: 1px solid var(--token-gmc_Ctzg2);
}
.freeBox__azpcY > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__azpcY > :global(.__wab_flex-container) > *,
.freeBox__azpcY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__azpcY > :global(.__wab_flex-container) > picture > img,
.freeBox__azpcY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text___873S {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--token-vYO6h4FW3);
  min-width: 0;
  min-height: 0;
}
.freeBox__tvGx {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
  padding: 16px;
  border-bottom: 1px solid var(--token-gmc_Ctzg2);
}
.freeBox__tvGx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__tvGx > :global(.__wab_flex-container) > *,
.freeBox__tvGx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tvGx > :global(.__wab_flex-container) > picture > img,
.freeBox__tvGx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__pt0B2 {
  position: relative;
  width: 100%;
  height: 20px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  min-width: 0;
}
.iconRound__spxlo:global(.__wab_instance) {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.svg__ms6Op {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: var(--token-oWf5ggoEo);
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
}
.freeBox__hbkuA {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
  padding: 16px;
  border-bottom: 1px solid var(--token-gmc_Ctzg2);
}
.freeBox__hbkuA > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__hbkuA > :global(.__wab_flex-container) > *,
.freeBox__hbkuA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hbkuA > :global(.__wab_flex-container) > picture > img,
.freeBox__hbkuA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__looGk {
  position: relative;
  width: 100%;
  height: 20px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  min-width: 0;
}
.iconRound__dfEif:global(.__wab_instance) {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.svg__rPsoE {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: var(--token-oWf5ggoEo);
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
}
.footerWidget:global(.__wab_instance) {
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 1;
}
