.root {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--token-h1nwR9emp);
  width: auto;
  height: auto;
  position: relative;
  padding: 4px;
}
.root__unnamedVariant {
  background: var(--token-vYO6h4FW3);
}
.slotTargetChildren {
  font-size: 8px;
  font-weight: 700;
}
.slotTargetChildren__unnamedVariant {
  color: var(--token-oWf5ggoEo);
}
