.root {
  background: none;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  position: relative;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.svg__dIde7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.svg__zdcOq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.svg__naPvt {
  position: relative;
  object-fit: cover;
  color: #ffffff;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.svg__close__naPvtFea6H {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
