.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: var(--token-oWf5ggoEo);
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__mlU8P {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  background: url("/plasmic/imbewu_mobile_first/images/headerBGsliceLrGsvg.svg") 0% 0% / contain repeat-x;
  position: relative;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 280px) {
  .freeBox__mlU8P {
    background: none;
    height: auto;
  }
}
@media (min-width: 1045px) {
  .freeBox__mlU8P {
    background: url("/plasmic/imbewu_mobile_first/images/sectionBGsvg.svg") 0% 0% / 100% 100% repeat;
  }
}
.freeBox__gFgea {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  background: url("/plasmic/imbewu_mobile_first/images/headerBGsliceLrGsvg.svg") 0% 0% / contain repeat-x;
  position: relative;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 280px) {
  .freeBox__gFgea {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    background: url("/plasmic/imbewu_mobile_first/images/lightgreenCutsvg.svg") 0% 0% / contain repeat-x;
    position: relative;
    width: 100%;
    flex-column-gap: 0px;
    min-width: 0;
  }
}
@media (min-width: 1045px) {
  .freeBox__gFgea {
    background: none;
  }
}
.navPageTitle:global(.__wab_instance) {
  position: relative;
}
.pageTitle2 {
  height: auto;
  color: var(--token-oWf5ggoEo);
}
.outer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 32px 0px 16px;
}
@media (min-width: 280px) {
  .outer {
    height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    flex-column-gap: 0px;
    min-width: 0;
    padding: 63px 8px 8px;
  }
}
.freeBox___4BTsN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: var(--token-oWf5ggoEo);
  height: 100%;
  box-shadow: 0px 0px 4px 2px #00000014;
  min-height: 0;
  border-radius: 4px;
  padding: 8px;
}
@media (min-width: 280px) {
  .freeBox___4BTsN {
    height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    background: var(--token-oWf5ggoEo);
    flex-column-gap: 0px;
    padding: 8px;
  }
}
@media (min-width: 1045px) {
  .freeBox___4BTsN {
    width: 600px;
    align-self: center;
    background: var(--token-oWf5ggoEo);
  }
}
.freeBox___7SfDr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: var(--token-oWf5ggoEo);
  height: 237px;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 8px;
}
@media (min-width: 280px) {
  .freeBox___7SfDr {
    height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: var(--token-oWf5ggoEo);
    flex-column-gap: 0px;
    border-radius: 4px;
    padding: 8px;
  }
}
@media (min-width: 1045px) {
  .freeBox___7SfDr {
    width: 100%;
    align-self: center;
    min-width: 0;
  }
}
.text__rn6SW {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: var(--token-vYO6h4FW3);
  position: relative;
  width: 100%;
  height: auto;
  align-self: flex-start;
  background: var(--token-h1nwR9emp);
  min-width: 0;
  border-radius: 4px;
  padding: 8px;
}
.freeBox__w33Jx {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 16px;
}
.freeBox__w33Jx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__w33Jx > :global(.__wab_flex-container) > *,
.freeBox__w33Jx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w33Jx > :global(.__wab_flex-container) > picture > img,
.freeBox__w33Jx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.img___9YrAm {
  position: relative;
  object-fit: cover;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 50%;
}
.img___9YrAm > picture > img {
  object-fit: cover;
}
.img___9YrAm > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__kHuto {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: none;
  width: 100%;
  height: auto;
  align-self: flex-start;
  min-width: 0;
}
.text__frLlV {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: var(--token-vYO6h4FW3);
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  min-width: 0;
  min-height: 0;
}
.text__jqbBo {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-weight: 700;
  color: var(--token-c79ojIUd1);
  min-width: 0;
  min-height: 0;
}
.freeBox__aXkHz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__v9Cfw {
  position: relative;
  object-fit: cover;
  color: var(--token-hl3Zddiwv);
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}
.freeBox__hs3L0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-vYO6h4FW3);
  padding: 16px;
}
.freeBox__rKyjA {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
}
.text__utpWz {
  position: relative;
  font-family: "Poppins", sans-serif;
  color: var(--token-oWf5ggoEo);
  height: auto;
  width: 100%;
  align-self: center;
  font-weight: 700;
  min-width: 0;
}
.freeBox__jVi9L {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.iconRound:global(.__wab_instance) {
  position: relative;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.svg__bcLde {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: var(--token-vYO6h4FW3);
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
}
.freeBox__hJmp7 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__hJmp7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__hJmp7 > :global(.__wab_flex-container) > *,
.freeBox__hJmp7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hJmp7 > :global(.__wab_flex-container) > picture > img,
.freeBox__hJmp7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__bqUN {
  position: relative;
  color: var(--token-oWf5ggoEo);
}
.text___8KdZa {
  position: relative;
  font-weight: 400;
  color: var(--token-G3sstVR3F);
}
.freeBox__gnMd9 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__gnMd9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 280px) {
  .freeBox__gnMd9 {
    padding: 8px;
  }
}
@media (min-width: 280px) {
  .freeBox__gnMd9 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 2px);
    width: calc(100% + 2px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 280px) {
  .freeBox__gnMd9 > :global(.__wab_flex-container) > *,
  .freeBox__gnMd9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__gnMd9 > :global(.__wab_flex-container) > picture > img,
  .freeBox__gnMd9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 2px;
    margin-top: 0px;
  }
}
.dateBlox___8DrRh:global(.__wab_instance) {
  position: relative;
}
.dateBlox__jIWkI:global(.__wab_instance) {
  position: relative;
}
.dateBlox__xwOyR:global(.__wab_instance) {
  position: relative;
}
.dateBlox___9O2Jt:global(.__wab_instance) {
  position: relative;
}
.dateBlox__ahgLj:global(.__wab_instance) {
  position: relative;
}
.dateBlox__kjwTg:global(.__wab_instance) {
  position: relative;
}
.dateBlox__rUmkE:global(.__wab_instance) {
  position: relative;
}
.dateBlox__nafpT:global(.__wab_instance) {
  position: relative;
}
.dateBlox__fUwm:global(.__wab_instance) {
  position: relative;
}
.dateBlox__ohRDq:global(.__wab_instance) {
  position: relative;
}
.dateBlox__gnsui:global(.__wab_instance) {
  position: relative;
}
.dateBlox__bvhzZ:global(.__wab_instance) {
  position: relative;
}
.freeBox__md2Sw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__n1Hvt {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: var(--token-hl3Zddiwv);
  position: relative;
  width: 305px;
  height: auto;
  align-self: flex-start;
  padding: 4px;
}
.freeBox__ax047 {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 8px;
}
.freeBox__ax047 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__ax047 > :global(.__wab_flex-container) > *,
.freeBox__ax047 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ax047 > :global(.__wab_flex-container) > picture > img,
.freeBox__ax047
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.freeBox__dod9Z {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__dod9Z > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__dod9Z > :global(.__wab_flex-container) > *,
.freeBox__dod9Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dod9Z > :global(.__wab_flex-container) > picture > img,
.freeBox__dod9Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.img__wuCxr {
  position: relative;
  object-fit: cover;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 50%;
}
.img__wuCxr > picture > img {
  object-fit: cover;
}
.img__wuCxr > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__shLu2 {
  position: relative;
  object-fit: cover;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 50%;
}
.img__shLu2 > picture > img {
  object-fit: cover;
}
.img__shLu2 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__nSf0I {
  position: relative;
  object-fit: cover;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 50%;
}
.img__nSf0I > picture > img {
  object-fit: cover;
}
.img__nSf0I > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___7PN6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 30px;
  height: 30px;
  background: var(--token-gmc_Ctzg2);
  flex-shrink: 0;
  border-radius: 50%;
}
.freeBox__if3HU {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 30px;
  height: 30px;
  background: var(--token-gmc_Ctzg2);
  flex-shrink: 0;
  border-radius: 50%;
}
.freeBox__wItBq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 30px;
  height: 30px;
  background: var(--token-gmc_Ctzg2);
  flex-shrink: 0;
  border-radius: 50%;
}
.freeBox___5UDtE {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 30px;
  height: 30px;
  background: var(--token-gmc_Ctzg2);
  flex-shrink: 0;
  border-radius: 50%;
}
.freeBox__zaNmb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 30px;
  height: 30px;
  background: var(--token-gmc_Ctzg2);
  flex-shrink: 0;
  border-radius: 50%;
}
.freeBox__lbUn0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 30px;
  height: 30px;
  background: var(--token-gmc_Ctzg2);
  flex-shrink: 0;
  border-radius: 50%;
}
.freeBox__yovyY {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 30px;
  height: 30px;
  background: var(--token-gmc_Ctzg2);
  flex-shrink: 0;
  border-radius: 50%;
}
.freeBox__xQjqn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 30px;
  height: 30px;
  background: var(--token-gmc_Ctzg2);
  flex-shrink: 0;
  border-radius: 50%;
}
.freeBox__be8Rm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: auto;
}
.btnAddDependants {
  position: relative;
  object-fit: cover;
  width: 30px;
  height: 30px;
  color: var(--token-vYO6h4FW3);
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  flex-shrink: 0;
}
.freeBox__ay4R {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 16px;
  min-width: 0;
  flex-shrink: 0;
  border-bottom: 1px solid var(--token-gmc_Ctzg2);
}
.freeBox__ulB7G {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__bM1XM {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: var(--token-hl3Zddiwv);
  position: relative;
  width: 305px;
  height: auto;
  align-self: flex-start;
  padding: 4px;
}
.freeBox__mYkXu {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 8px;
}
.freeBox__mYkXu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__mYkXu > :global(.__wab_flex-container) > *,
.freeBox__mYkXu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mYkXu > :global(.__wab_flex-container) > picture > img,
.freeBox__mYkXu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.freeBox__ryl7V {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__ryl7V > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__ryl7V > :global(.__wab_flex-container) > *,
.freeBox__ryl7V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ryl7V > :global(.__wab_flex-container) > picture > img,
.freeBox__ryl7V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.freeBox__ao1Tp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 30px;
  height: 30px;
  background: var(--token-gmc_Ctzg2);
  flex-shrink: 0;
  border-radius: 50%;
}
.freeBox__u6AoC {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 30px;
  height: 30px;
  background: var(--token-gmc_Ctzg2);
  flex-shrink: 0;
  border-radius: 50%;
}
.freeBox__c1Bbl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 30px;
  height: 30px;
  background: var(--token-gmc_Ctzg2);
  flex-shrink: 0;
  border-radius: 50%;
}
.freeBox__neCpw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 30px;
  height: 30px;
  background: var(--token-gmc_Ctzg2);
  flex-shrink: 0;
  border-radius: 50%;
}
.freeBox__cvDpY {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 30px;
  height: 30px;
  background: var(--token-gmc_Ctzg2);
  flex-shrink: 0;
  border-radius: 50%;
}
.freeBox__jCpXd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 30px;
  height: 30px;
  background: var(--token-gmc_Ctzg2);
  flex-shrink: 0;
  border-radius: 50%;
}
.freeBox__eiH9A {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 30px;
  height: 30px;
  background: var(--token-gmc_Ctzg2);
  flex-shrink: 0;
  border-radius: 50%;
}
.freeBox__aFtQq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 30px;
  height: 30px;
  background: var(--token-gmc_Ctzg2);
  flex-shrink: 0;
  border-radius: 50%;
}
.freeBox__ebiv6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 30px;
  height: 30px;
  background: var(--token-gmc_Ctzg2);
  flex-shrink: 0;
  border-radius: 50%;
}
.freeBox__s73KG {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 30px;
  height: 30px;
  background: var(--token-gmc_Ctzg2);
  flex-shrink: 0;
  border-radius: 50%;
}
.freeBox__ib4Zq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: auto;
}
.btnAddBenficiary {
  position: relative;
  object-fit: cover;
  width: 30px;
  height: 30px;
  color: var(--token-vYO6h4FW3);
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  flex-shrink: 0;
}
.freeBox__cFq4V {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 16px;
  padding-bottom: 16px;
  min-width: 0;
  flex-shrink: 0;
  border-bottom: 1px solid var(--token-gmc_Ctzg2);
}
.freeBox__cOqmY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-T-yLSgErM);
  margin-top: 16px;
  border-radius: 4px;
  padding: 16px;
}
.freeBox__ewdJ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
}
.text__vVaFu {
  position: relative;
  font-family: "Poppins", sans-serif;
  color: var(--token-oWf5ggoEo);
  height: auto;
  width: 100%;
  align-self: center;
  font-weight: 700;
  font-size: 14px;
  min-width: 0;
}
.text__skLyW {
  position: relative;
  font-family: "Poppins", sans-serif;
  color: var(--token-G3sstVR3F);
  height: auto;
  width: 100%;
  align-self: center;
  font-weight: 700;
  font-size: 14px;
  min-width: 0;
}
.freeBox__utZw5 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__utZw5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__utZw5 > :global(.__wab_flex-container) > *,
.freeBox__utZw5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__utZw5 > :global(.__wab_flex-container) > picture > img,
.freeBox__utZw5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text___2RfwC {
  position: relative;
  color: var(--token-oWf5ggoEo);
  font-size: 10px;
}
.text__wTffS {
  position: relative;
  font-weight: 400;
  color: var(--token-oWf5ggoEo);
  font-size: 10px;
}
