.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-8VMRoF5UD);
  min-width: 0;
  min-height: 0;
}
.freeBox__spcBk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 300px;
  background: var(--token-exxFslzNe);
  min-width: 0;
  border-radius: 10px;
  padding: 0px;
  border: 2px solid var(--token-ExlJiqGiU);
}
.freeBox__spcBk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__spcBk > :global(.__wab_flex-container) > *,
.freeBox__spcBk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__spcBk > :global(.__wab_flex-container) > picture > img,
.freeBox__spcBk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.freeBox__jcEbT {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 40px;
  max-width: 100%;
  background: var(--token-ExlJiqGiU);
  left: 0px;
  top: 0px;
  z-index: 1;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px 0px 0px 10px;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-exxFslzNe);
  font-family: Comfortaa;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  align-self: center;
  text-align: left;
  font-weight: 700;
  min-width: 0;
}
.btnClose {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-exxFslzNe);
  width: 30px;
  height: 30px;
  align-self: center;
  flex-shrink: 0;
}
.freeBox__icj4L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(52px + 0px) !important;
  min-width: 0;
  padding: 8px;
}
.freeBox__icj4L > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__icj4L > :global(.__wab_flex-container) > *,
.freeBox__icj4L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__icj4L > :global(.__wab_flex-container) > picture > img,
.freeBox__icj4L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.inputFirstName:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__b2TUy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__c2Hh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.inputLastName:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__fMg6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__sKerC {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.inputEmail:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ylyLu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__csNjM {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.btnDonate {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: center;
  background: var(--token-ExlJiqGiU);
  color: var(--token-exxFslzNe);
  min-width: 0;
  border-radius: 4px;
  padding: 16px 8px;
}
@media (min-width: 768px) {
  .btnDonate {
    max-width: 400px;
    position: relative;
    width: 100%;
    height: auto;
    align-self: center;
    text-align: center;
    background: var(--token-ExlJiqGiU);
    color: var(--token-exxFslzNe);
    min-width: 0;
    border-radius: 4px;
    padding: 16px 8px;
  }
}
