.root {
  width: 100%;
  height: auto;
  max-width: 800px;
  background: var(--token-KcWdgct8T);
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  min-width: 0;
  border-radius: 4px;
  padding: 8px;
}
.slotTargetChildren {
  color: var(--token-exxFslzNe);
  text-align: center;
}
