.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
}
.freeBox__sf6Bb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__sf6Bb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
.freeBox__menuOpen__sf6BBfiiJj {
  background: var(--token-zufrlsS5r);
}
.freeBox__menuOpen__sf6BBfiiJj > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__menuOpen__sf6BBfiiJj > :global(.__wab_flex-container) > *,
.freeBox__menuOpen__sf6BBfiiJj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBox__menuOpen__sf6BBfiiJj > :global(.__wab_flex-container) > picture > img,
.freeBox__menuOpen__sf6BBfiiJj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 4px;
}
.freeBox__g1NeY {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background: var(--token-zufrlsS5r);
  position: relative;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.btnMenu:global(.__wab_instance) {
  position: relative;
}
.freeBox__pTtyM {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  align-self: center;
  min-width: 0;
}
.freeBox__pTtyM > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__pTtyM > :global(.__wab_flex-container) > *,
.freeBox__pTtyM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pTtyM > :global(.__wab_flex-container) > picture > img,
.freeBox__pTtyM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: var(--token-0vdkX-82R);
  font-size: 21px;
  font-weight: 700;
  color: var(--token-bOEqvXiLr);
  min-width: 0;
}
.freeBox__qy14C {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.instagram {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  color: var(--token-KcWdgct8T);
  flex-shrink: 0;
}
.freeBox__yCwR2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.twitter {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  color: var(--token-KcWdgct8T);
  flex-shrink: 0;
}
.freeBox___2GZ7W {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.facebook {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  color: var(--token-KcWdgct8T);
  flex-shrink: 0;
}
.freeBox__e4Z5 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.menuItem___1Y1U:global(.__wab_instance) {
  position: relative;
}
.menuItem__frdms:global(.__wab_instance) {
  position: relative;
}
.menuItem__envlj:global(.__wab_instance) {
  position: relative;
}
.menuItem___5Qdh1:global(.__wab_instance) {
  position: relative;
}
