.root {
  width: 100%;
  height: auto;
  max-width: 800px;
  background: #a3a3a3;
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
  border-radius: 4px;
  padding: 8px;
}
.slotTargetChildren {
  color: #ffffff /* plasmic-token: exxFslzNe */;
  text-align: center;
}
