.root {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-exxFslzNe);
  position: relative;
  min-width: 0;
  display: none;
  border-radius: 4px;
  padding: 8px;
}
.rootmenuOpen {
  display: flex;
}
.freeBox {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
