.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
.rootopen > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.rootopen > :global(.__wab_flex-container) > *,
.rootopen > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootopen > :global(.__wab_flex-container) > picture > img,
.rootopen
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 8px;
}
.freeBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-zufrlsS5r);
  position: relative;
  min-width: 0;
  border-radius: 8px;
  padding: 12px;
}
@media (min-width: 768px) {
  .freeBox {
    justify-content: space-between;
  }
}
.text__nPx3B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-ExlJiqGiU);
  flex-shrink: 0;
}
.text__vxXjz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  display: none;
}
.text__t7GfG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  padding-bottom: 16px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  min-width: 0;
}
