.root {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  position: relative;
  padding: 8px;
}
.rootmenuClose {
  background: #70ad47;
  border-radius: 4px;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #70ad47 /* plasmic-token: ExlJiqGiU */;
  width: 19px;
  height: 16px;
  flex-shrink: 0;
}
.svgmenuClose {
  color: #ffffff /* plasmic-token: exxFslzNe */;
}
